@media screen and (min-width: 1000px) {
    main {
        width: 30%;
    }
}

@media screen and (max-width: 1000px) {
    main {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    main {
        width: 80%;
    }
}

main {
    background-color: rgb(127, 185, 194);
    margin: auto;
    box-shadow: 8px 5px 15px 1px rgb(98, 140, 166);
}

h1,h3 {
    color: black;
    text-align: center;
}



table {
    width: 100%;
    margin: auto; 
   
}

th {
    background-color:rgb(98, 140, 166);
    color: white;
    font-size: 1.5em;
    text-align: left;
}

td {
    font-size: 1em;
}

h1,h3,th,td {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.25em;
}

.n75 {
    background-color: rgb(98, 140, 166);
    color: white;
}

tr:nth-child(odd) {
    background: rgb(231, 255, 237);
  }
  tr:nth-child(even) {
    background: rgb(231, 240, 237);
  }
  


main, table, th, td {
    border:1px solid rgb(187, 187, 187);
}

.bf {
    font-style: italic;
}

