/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
@import url("https://fonts.googleapis.com/css?family=Merienda");


  /*Navigation*/
  #logoBox {
      line-height: 6em;
     padding: 1em;
      transition: top 0.3s;
      background-color: #638492;
    }
    
    #nav a {
      font-size: 1.5em;
      padding: 1em;
      color:#8EC2F5;
      text-decoration: none;
      font-family: "Merienda", cursive;
      font-weight: bold;
    }
    
    #nav ul {
      list-style-type: none;
      display: flex; 
    }
    #nav li {
      flex: auto;
    }
    #nav a:hover {
      color:#D6EAFF;
      border: 1em;
      border-color:  #8EC2F5;
    }

    .hamburger {
        display: none;
    }

    .container {
      display: flex;
    }

    /*Images*/

.mainLogo {
  display: flex;
  float: left;
  height: 150px;
}

.logo {
      height: 50px;
      display: flex;
      float: left;
    }
   
/*general styling*/

body{
  background-color: #D6EAFF;
}

#content{
  padding-top: 1em;
  padding-bottom: 1em;
}

.container{
  background-color: #FAFAFF;
}

h1, h2, h3, h4, h5 {
  font-family: "Merienda", cursive;
  color: #638492;
  padding: 0.5em;
}

p {
  color:#0A0B0A;
  font-family: "Merriweather", cursive;
  padding: 0.5em;
  max-width: 1000px;
}

footer {
  line-height: 6em;
 padding: 1em;
  transition: top 0.3s;
  background-color: #638492;

}

.imfo li {
  font-size: 1.5em;
  padding: 1em;
  color:#8EC2F5;
  text-decoration: none;
  font-family: "Merienda", cursive;
  font-weight: bold;
}

.imfo ul {
  list-style-type: none;
  display: flex; 
}
.imfo li {
  flex: auto;
}