/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
@import url("https://fonts.googleapis.com/css?family=Merienda");

/*General Styling____________________________________________________________________________________*/
html {
  background-color: #8BBEB2;
}

h1, h2, h3, h4, h5 {
  font-family: "Merienda", cursive;
  color: #5389CA;
  padding: 0.5em;
}

p, figcaption {
  color:#050212;
  font-family: "Merriweather", cursive;
  padding: 1em;
}

p {max-width: 1000px;}

 figcaption{max-width: 500px;}

/*Navigation__________________________________________________________________________________________________*/
#logoBox, footer {
  background-color: #050212;
  height: 10em;
  padding: 0.5em;
}

.mobileNavigation {
    overflow: hidden;
    background-color: #050212;
  }
  
  .mobileNavigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Merienda", cursive;
    font-weight: bold;
  }
  
  .mobileNavigation a:hover, 
  #location:hover {
    cursor: pointer;
    border-bottom: solid 5px;
    border-color: #D0F467;
    color: #5389CA;
  }
  
  .mobileNavigation a.active {
    border-bottom: solid 5px;
    border-color: #D0F467;
    color: #5389CA;
  }


  #content{
    padding-top: 1em;
    padding-bottom: 1em;
  }

/*footer__________________________________________________________________________________________________________*/ 
#email,
#phone,
#location {
  text-align: center;
  color: #f2f2f2;
  padding: 1em;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Merienda", cursive;
  font-weight: bold;
}

/*Images________________________________________________________________________________________________________*/
.mainLogo {
  display: flex;
  float: left;
  height: 100%;
  padding: 0.5em;
}

.logo {
      height: 50px;
      display: flex;
      float: left;
      padding: 0.25em;
    }
.logo:hover {
  border-bottom: solid 5px;
  border-color: #D0F467;
}

.clip {
  padding: 0.5em;
  width: 50%;
  
}

figure img {
  width: 500px;
}
figure img:hover {
  border-radius: 50%;
  border: double 5px #050212;
}

/*Grid sections*/
.hero, 
.news, 
.spotlight1, 
.spotlight2, 
.spotlight3, 
.weather, 
.event, 
.join,
.cc,
.pac,
.ep,
.old,
.isu,
.pill,
.holt,
.temple,
.rail,
.contact,
.name,
.business,
 .membership,
 .jChamber,
 #thankYou{ 
  background-color: #f2f2f2;
   box-shadow: 1px 1px 10px 1px #050212;
   border: double; 
   border-color: #0A0B0A;
   text-align: center;
}
.jform {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 4fr; 
  gap: 1em 0em; 
  grid-template-areas: 
    "jChamber"
    "name"
    "contact"
    "business"
    "membership"; 
    padding-top: 1em;
    padding-bottom: 1em;
}
.jChamber { grid-area: jChamber; }
.name { grid-area: name; }
.contact { grid-area: contact; }
.business { grid-area: business; }
.membership { grid-area: membership; 
              display:none;
            }

.contact,
.name,
.business,
 .membership,
 .jChamber {
   margin: 0 auto;
   width: 80%;
   padding: 1em;
 }


.top-left {
position: absolute;
z-index: +1;
color: #050212;
}

#poc {
width: 100%;
z-index: -1;
}


#chamber {
position: absolute;
bottom: 2%;
right: 30%;
padding: 1em;
width: 12%;
font-family: "Merienda", cursive;
background-color: #8EC2F5;
color:#050212;
box-shadow: 1px 1px 10px 1px #050212;
z-index: +1;
font-size: 1.1em;
border-radius: 0.5em;
}
 
#joinButton, .submit {
width: 100%;
margin-top: 0.5em;
padding: 1em;
font-family: "Merienda", cursive;
background-color: #5389CA;
color: #fff;
box-shadow: 1px 1px 10px 1px #050212;
font-size: 1em;
}
#joinButton:hover,
.next:hover,
.membershipInfo:hover,
.submit:hover {
  cursor: pointer;
  background-color: #D0F467;
  color: #050212;
}
 
#read {
display: none;
color:#050212;
font-family: "Merriweather", cursive;
padding: 1em;
max-width: 1000px;
}
#readMore {
  color: #5389CA;

}
#readMore:hover {
cursor: pointer;
color: #D0F467;
}

/*Form______________________________________________________________*/

.name label, 
.business label, 
.contact label,
.textdescription {
  font-family: "Merienda", cursive;
  padding: 1em;
  float: left;
  display: block;
}

.name label:after,
.cell:after,
.bsuinessN:after {
    content:" *";
    color: red;
  }


form input[type=text],
form input[type=tel],
form textarea {
  width: 90%;
padding: 1em;
  margin: 8px 0;
  display: block;
  margin: auto;
  border-radius: 5px;
  border: #050212 double;
}

#NPB, 
#bronzeB,
#goldB,
#silverB{
  display: block;
  padding-top: 1em;
} 

.membership{
  text-align: left;
  font-family:"Merienda", cursive; 
  font-size: 1em;
  padding: 1em;
}


textarea {
  padding:1em;
}

.next,
.membershipInfo {
  padding: 1em;
  background-color: #5389CA;
  color:#f2f2f2;
  float: right;
  font-family: "Merriweather", cursive;
  border: solid 2px;
  border-color: #5389CA;
  box-shadow: 1px 1px 10px 1px #050212;
}

.submit {
  width: 25%;
  display: block;
  margin: auto;
}

#memInfo {
  display: none;
}

#thankYou {
  width: 50%;
  height: auto;
  margin: auto;
  padding: 2em;
}
 

