/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
@import url("https://fonts.googleapis.com/css?family=Merienda");

/*General Styling*/
html {
  background-color: #8BBEB2;
}

h1, h2, h3, h4, h5 {
  font-family: "Merienda", cursive;
  color: #5389CA;
  padding: 0.5em;
}

p {
  color:#050212;
  font-family: "Merriweather", cursive;
  padding: 1em;
  max-width: 1000px;
}

/*Navigation*/
#logoBox, footer {
  background-color: #050212;
  height: 10em;
 
}

.mobileNavigation {
    overflow: hidden;
    background-color: #050212;
  }
  
  .mobileNavigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Merienda", cursive;
    font-weight: bold;
  }
  
  .mobileNavigation a:hover, 
  #location:hover {
    cursor: pointer;
    border-bottom: solid 5px;
    border-color: #D0F467;
    color: #5389CA;
  }
  
  .mobileNavigation a.active {
    border-bottom: solid 5px;
    border-color: #D0F467;
    color: #5389CA;
  }


  #content{
    padding-top: 1em;
    padding-bottom: 1em;
  }

/*footer*/ 
#email,
#phone,
#location {
  text-align: center;
  color: #f2f2f2;
  padding: 1em;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Merienda", cursive;
  font-weight: bold;
}

/*Images*/
.mainLogo {
  display: flex;
  float: left;
  height: 100%;
  padding: 0.5em;
}

.logo {
      height: 50px;
      display: flex;
      float: left;
      padding: 0.25em;
    }
.logo:hover {
  border-bottom: solid 5px;
  border-color: #D0F467;
}

.clip {
  padding: 0.5em;
  width: 50%;
  border-bottom: solid 5px;
  border-color: #D0F467;
}

/*Grid sections*/
.hero, 
.news, 
.spotlight1, 
.spotlight2, 
.spotlight3, 
.weather, 
.event, 
.join { 
  background-color: #FAFAFF;
   box-shadow: 1px 1px 10px 1px #050212;
   border: double; 
   border-color: #0A0B0A;
   text-align: center;
}

.top-left {
position: absolute;
z-index: +1;
color: #050212;
}

#poc {
max-width: 100%;
padding-top: 56.25%;
object-fit: fill;
aspect-ratio: auto 4 / 3;
z-index: -1;
}

#chamber {
position: absolute;
bottom: 2%;
right: 30%;
padding: 1em;
width: 12%;
font-family: "Merienda", cursive;
background-color: #8EC2F5;
color:#050212;
box-shadow: 1px 1px 10px 1px #050212;
z-index: +1;
font-size: 1.1em;
border-radius: 0.5em;
}
 
#joinButton {
width: 100%;
margin-top: 0.5em;
padding: 1em;
font-family: "Merienda", cursive;
background-color: #5389CA;
color: #fff;
box-shadow: 1px 1px 10px 1px #050212;
font-size: 1em;
}
#joinButton:hover {
  cursor: pointer;
  background-color: #D0F467;
  color: #050212;
}
 
#read {
display: none;
color:#050212;
font-family: "Merriweather", cursive;
padding: 1em;
max-width: 1000px;
}
#readMore {
  color: #5389CA;

}
#readMore:hover {
cursor: pointer;
color: #D0F467;
}
 

